.conteiner {   
    display: flex; 
    flex-direction: column;
    position: absolute;
    top: 25px;
    left: 35em;
    transform: translate(-50%, -50%);
    width: 400px    
}

.realizado {
    text-decoration: line-through;
}


input {
    margin-top: 20px;
    width: 180px;
    border-radius: 30px;
}

button {
    width: 100px;
    padding: 0px;    
    border-radius: 30px;
    margin-left: 45px;
    cursor: pointer;
  
}



