<main>
    <div class="block">
        <div class="encabezado">
            <h1>{{title}}</h1>
            <button (click)="MostrarHijo()">
                {{mostrarHijo ? "Ocultar" : "Mostrar"}}
            </button>
            <div class="opciones">
                <label for="fontSelect"></label>
                <select name="selector" id="fontSelect" (change)="cambiarFonts($event)">
                    <option value="Arial">Arial</option>
                    <option value="Verdana">Verdana</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Courier New">Courier New</option>                 

                </select>
                <label for="sizeSelect"></label>
                <select name="selector" id="sizeSelect" (change)="cambiarTamanio($event)">
                    <option value="12px">12px</option>
                    <option value="16px">16px</option>
                    <option value="20px">20px</option>
                    <option value="40px">40px</option>
                </select>

                <label for="colorSelect"></label>
                <input type="color" name="colorSelect" id="colorSelect" (change)="cambiarColor($event)">

            
            </div>
        </div>
        <div id="contenedor">
            <ul id="listas">
                <li *ngFor="let nota of notas; let i = index" [ngClass]="{'realizado': nota.realizado}"
                    (contextmenu)="mostrarMenu($event,i)">
                    <input type="checkbox" name="marcada" [id]="'checkbox' + i" (change)="marcarRealizado(i)"
                        [checked]="nota.realizado"/> 
                        <span class="emoji" [innerHTML]="nota.texto | emoticonToEmoji"></span>
                    <div class="menu" *ngIf="nota.mostrarMenu">                        
                        <button (click)="eliminarNota(i)">Eliminar</button>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</main>
<app-hijo *ngIf="mostrarHijo" (nuevaNotaEvent)="agregarNota($event)"></app-hijo>

<router-outlet></router-outlet>